@media screen and (max-width: 480px) {
  .menu-list {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    z-index: 10;
    overflow: hidden;
    animation: 0.2s show ease-in-out;
  }
  .disp{
    display: block !important;
  }

  .open {
    position: fixed;
    z-index: 11;
  }

  .open1 {
    margin-bottom: 57px;
  }

  @keyframes show {
    0% {
      transform: translateY(-100%)
    }
    100% {
      transform: translateY(0)
    }
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .menu-1024 {
    display: none !important;
  }

}
.menu-p{
  display: none;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 800;
  color: #412394;
  font-size: 18px;
}

.hr-menu{
  display: none;
  margin: 0 20px 0 20px;
  border: 1px solid #412394;
}

@media screen and (max-width: 320px) {
  .open1 {
    margin-bottom: 37px;
  }
}

@media screen and (max-width: 1024px) {
  .menu-1024{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 51px;
    background: #3D218B;
    p{
      font-family: 'Jost';
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      color: #FFFFFF;
    }
  }


}