.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-wrap{
  background: #5A36C0;
  min-height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family:'Intro';
  src: url(./fonts/intro_inline.otf);
}

@font-face {
  font-family:'Jost';
  src: url(./fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family:'Jost300';
  src: url(./fonts/Jost-ExtraLight.ttf);
}

@font-face {
  font-family:'Jost400';
  src: url(./fonts/Jost-Light.ttf);
}
